.header {
    background-color:#B8B4B2;
    padding:20px;
    margin: 0;
    padding-top: 20px;
    width:50px;
    height:20px;
    border-radius:10px;
    text-align:center;
    margin-left: 10px;
    margin-top: 10px;
  }

h1 {
  font-size: 18px;
}

.header a {

  font-size: 16px;
  padding-bottom: 10px;
  text-decoration: none;
  color: black;
  margin-top: 40px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body {
  background-color: #F0EEED;
  margin: 0;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.aside-content {
  background-color: #B8B4B2;
  top: 79px;
  position: absolute;
  right: 10px;
  display: inline-block;
  width: 400px;
  border-radius: 10px;
  border: 5px solid #B8B4B2;
}
.header-book {
  display: inline-block;
  position: relative;
  width: 890px;
  height: 700px;
  background-color: #B8B4B2;
  border-radius: 10px;
  left: 15px;
  border: 5px solid #B8B4B2;
  top: 10px;
}
.header-book img {
  width: 400px;
  height: auto;
  display: flex;
  position: relative;
  margin-left: 480px;
  margin-top: 10px;
}
.header-about {
  display: inline-flex;
  position:absolute;
  width: 450px;
  height: auto;
  background-color: #B8B4B2;
}