body {
  background-color: #F0EEED;
  margin: 0;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
}


.header {
    background-color:#B8B4B2;
    padding:20px;
    text-align:center;
    margin: auto;
    width:auto;
    height:80px;
  }

h1 {
  font-size: 18px;
}
.header a {

  font-size: 16px;
  padding-bottom: 10px;
  margin: 30px;
  text-decoration: none;
  color: black;
}
.content {
  position:absolute;
  display:inline-block;
  padding-left:100px;
  padding-top:50px;
  margin-left: 3em;
  margin-top: 2em;
  height:15em;
  width: 38em;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  border: 1px solid black;
}
#picture1 img{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 150px;
  margin-left: -50px;
}
#book-1 {
  position: absolute;
  display: inline-block;
  margin-left: 7em;
  margin-top: -7em;
}
.content-2 {
  position:absolute;
  display:inline-block;
  padding-left:100px;
  padding-top:50px;
  margin-left: 44.5em;
  margin-top: 2em;
  height:15em;
  width: 38em;
  border: 1px solid black;
  backdrop-filter: blur(20px);
  border-radius: 15px;
}
.content-3 {
  position:absolute;
  display:inline-block;
  padding-left:100px;
  padding-top:50px;
  margin-left: 3em;
  margin-top: 20em;
  height:15em;
  width: 38em;
  border: 1px solid black;
  backdrop-filter: blur(20px);
  border-radius: 15px;
}
.content-4 {
  position:absolute;
  display:inline-block;
  padding-left:100px;
  padding-top:50px;
  margin-left: 44.5em;
  margin-top: 20em;
  height:15em;
  width: 38em;
  border: 1px solid black;
  backdrop-filter: blur(20px);
  border-radius: 15px;
}
#main-text {
  text-align: center;
  margin: 2em;
}
#main-text h1 {
  font-size: 24px;
}
.btn a {
  text-decoration: none;
  color:white
}
.dropdown {
  position:relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; /* Positions it directly below the 'Categories' text */
  left: 0;
  background-color: #F0EEED;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 50;
  border-radius: 10px;
  height: 350px;
  width: auto;
}
.dropdown-content a{
  color:black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 16px;
  border-radius: 10px;
}
.dropdown-content a:hover{
  background-color: #F0EEED;
}
.show {
  display:block
}